@import "tailwindcss";
@import "./styles.css";

/****************************
*
* Base classes 
*
*****************************/

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  h1 {
    line-height: 40px;
  }
  html {
    font-family: var(--font-body);
    font-size: 16px;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-family: var(--font-important) !important;
    font-weight: 700;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@theme inline {
  --font-important: var(--font-lato);
  --font-body: var(--font-open-sans);
}

@theme {
  --spacing: 8px;
  --breakpoint-tablet: 768px;
  --color-light: #ededed;
  --color-gray-shade: #bcbcbc;
  --color-dark: #1a1a1a;
  --color-dark-contrast: #101010;
  --color-dark-50: #393939;
  --color-secondary: #ffb400;
  --color-tertiary: #e8ff00;
  --color-cta: #00a5f9;
  --color-cta-secondary: #89d7ff;
  --text-heading-md: clamp(1.2em, 4vw, 1.8em);
  --text-heading-lg: clamp(1.6em, 4vw, 2em);
  --text-heading-xl: clamp(2.2em, 4vw, 2.6em);
  --text-heading-sm: clamp(0.5em, 4vw, 1em);
}
